.columns {
  flex-direction: column;
}

.form-message.error {
  color: red;
}

.avatar {
  width: 2.5em;
  height: 2.5em;
  border-radius: .25em;
  overflow: hidden;
  margin: 0.2em;

  img {
    height: 100%;
    width: 100%;
  }

  &.small {
    width: 2em;
    height: 2em;
    border-radius: 1em;
    margin: 0.1em;
  }
}
