.control {
  margin: .2em .1em;
  flex-direction: column;

  .input-wrap {
    border: 1px solid cadetblue;
    border-radius: .25em;
  }

  input {
    flex: 1;
    border: none;
    min-width: 0;
    margin: 0 0.2em;
    line-height: 1.5em;

    &:focus{
      outline: none;
    }
  }

  &.text-input {
    input {
      padding: 0.35em 0;
    }
  }

  &.password-input {
    input {
      padding: 0.35em 2.7em 0.35em 0.2em;
    }
    .hide-show-btn {
      position: absolute;
      right: 0;
      width: 2.5em;
      height: 1.5em;
      line-height: 1.5em;
      cursor: pointer;
      color: darkgray;
      padding-right: 0.2em;
    }
  }
}
