.header {
  align-items: center;
  flex: 0 0 5em;
  width: 100%;
  padding: 0.2em;
  box-sizing: border-box;
  color: #FFF;
  background: linear-gradient(to right, #f39f82, #E9967A);
  border-bottom: 1px solid #c66345;

  .header-logo {
    display: flex;
    flex: 0 0 auto;
    width: 3em;
    height: 3em;
    padding: 0.2em;
    align-items: center;

    span {
      display: inline-block;
      width: 100%;
      height: 100%;
      text-indent: -9999em;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url("./img/logo.png");
    }
  }

  .header-title {
    flex: 0 0 auto;
  }

  .header-right-container {
    flex: 1 0 auto;
  }

  .header-login-form {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 auto;
    width: 20em;

    .form-message {
      margin: 0.1em;
    }

    .btn-login {
      margin: 0.1em;
    }
  }

  .header-user-info {
    flex-wrap: wrap;

    a {
      color: white;
      :visited {
        color: white;
      }
    }
  }

  .header-user-info-dropdown {
    position: absolute;
    top: 2em;
    right: 0;
    padding: 0.5em;
    background-color: #f39f82;
    border: 1px solid #c66345;
    z-index: 1;

    &:before {
      content: '';
      position: absolute;
      top: -.35em;
      right: 1em;
      width: .5em;
      height: .5em;
      transform: rotate(45deg);
      background-color: #f39f82;
      border: solid #c66345;
      border-width: 1px 0 0 1px;
    }

    .btn-hide-dropdown {
      width: .6em;
      height: .6em;
      border: solid white;
      border-width: 1px 0 0 1px;
      transform: rotate(45deg);
      cursor: pointer;
    }

    .dropdown-footer {
      margin: 0.5em 0.1em 0.1em 0.1em;
    }
  }
}
